.env
__pycache__/
.venv/
.idea
.qdrant_storage/
*.py[cod]
src/monitoring_DB/*.db
hf_cache/
.DS_Store
Thumbs.db
qdrant_storage/
**/__pycache__/
*.pyc
**/checkpoint-*/
**/fine_tunning_model/
*.bin
*.safetensors
*.gguf

