# --- Core Framework ---
langchain>=0.3.0
langchain-community>=0.3.0
langchain-ollama
langchain-text-splitters
langchain_core

# --- LLM & Embeddings ---
langchain-ollama
langchain-huggingface
sentence-transformers
langchain-qdrant
qdrant-client
fastembed
langchain-groq

groq
giskard #testing

nest-asyncio
httpx

# Note: On Windows, simple torch install is often safer
#torch
--extra-index-url https://download.pytorch.org/whl/cpu #dowload loghtweight version (cpu)
torch

# --- Data Loading & Connectors ---
bs4
Pillow
unstructured
python-magic

# --- MLOps & Utilities ---
pydantic-settings
python-dotenv
python-multipart
pandas
kubernetes

#api
fastapi
websockets
uvicorn[standard]
jinja2
streamlit

#Cross-Encoder
sentence-transformers

#ragas
ragas
datasets

eval_type_backport
rouge-score
nltk

#LoRa
transformers==4.45.2
peft==0.12.0
bitsandbytes==0.43.3
accelerate==0.34.2
trl==0.10.1

